<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../static/image/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../static/css/styles.css" />
  <link rel="stylesheet" href="../static/css/footer.css" />
  <link rel="stylesheet" href="../static/css/dos.css" />
  <link rel="stylesheet" href="../static/js/index.js" />
  <link rel="stylesheet" href="../static/css/styles.scss" />
  <title>About</title>
</head>

<body>
  <!-- nav -->
  <nav class="navbar">
    <div class="navbar-container container">
      <input type="checkbox" name="" id="" />
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <ul class="menu-items">
        <a href="/aboutcopy"><img src="../static/image/mode1.jpg"
          style="width: 150px; height: 80px; position: relative; top: 20px;" alt=""></a>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/index">Index</a>
        </li>
        <li>
          <a href="/appone/">App One Home</a>
        </li>
        <li>
          <a href="/appone/index">App One Index</a>
        </li>
        <li>
          <a href="/apptwo/">App two Home</a>
        </li>
        <li>
          <a href="/appthree/">App three Home</a>
        </li>
      </ul>
      <h1 id="nature" style="position: relative; right: 70px;">Nature</h1>
    </div>
  </nav>
  
  <br><br><br><br><br><br><br><br><br><br>

      <section id="bio">
        <center><div class="inner-paralex"></div>
          <img class="profile" style="border-radius: 50%; height: 100px; width: 100px;" src="https://images.unsplash.com/photo-1676845578082-2e08e7c359b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
          <center><h2>Hi</h2></center>
          <h1>I am<br><span id="name">Adeema Amir</span></h1></center>
          <div class="line"></div>
          <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit.
             Phasellus libero lectus,interdum in sapien molestierho,
ncus vestibulum felis.Sed dignissim, dui in suscipit por,
 ligula elit scelerisque purus,
                  quis facilisis dui metus no, purus. Maecenas
                   pellentesque lectus ut viverraconsec. Morbi
                    dignissim sollicitudin facilisis. Duis in sagittis
                     nulla
                       </p>
      </section>
<br><br>
  

  
  <!-- footer -->

 
  <footer>
    <div class="footer-waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <audio src="../static/image/videoplayback (1).mp4" controls autoplay loop></audio>
    <ul class="footer-links">
      <li>
        <a class="footer-link" style="position: relative; left:110px ;" href="/">Home</a>
      </li>
      <li>
        <a class="footer-link" style="position: relative; left:70px ;" href="/contact">Contact</a>
      </li>
      <li>
        <a class="footer-link" style="position: relative; left:50px ;" href="/about">About</a>
      </li>
      <li>
        <a class="footer-link" style="position: relative; left:25px ;" href="/index">Index</a>
      </li>
      <li>
        <a class="footer-link" href="/appone/">App-one-Home</a>
      </li>
    </ul>
  </footer>
</body>

</html>