<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/image/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/stylescopy.css">
  <link rel="stylesheet" href="../static/css/footercopy.css">
  <link rel="stylesheet" href="../static/css/doscopy.css">
  <link rel="stylesheet" href="../static/js/index.js">
  <title>Contact</title>
</head>

<body>
  <!-- nav -->
  <nav class="navbar">
    <div class="navbar-container container">
      <input type="checkbox" name="" id="" />
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <ul class="menu-items">
        <a href="/contact"><img src="../static/image/mode1.jpg"
          style="width: 150px; height: 80px; position: relative; top: 20px;" alt=""></a>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/index">Index</a>
        </li>
        <li>
          <a href="/appone/">App One Home</a>
        </li>
        <li>
          <a href="/appone/index">App One Index</a>
        </li>
        <li>
          <a href="/apptwo/">App two Home</a>
        </li>
        <li>
          <a href="/appthree/">App three Home</a>
        </li>
      </ul>
      <h1 id="nature" style="position: relative; right: 70px;">Nature</h1>
    </div>
  </nav>
  <section id="welcome-section">
    <div>
      <h1>Hi, I'm <strong>Adeema Amir</strong></h1><br><br>
      <p><strong>Mern Full Stack Developer</strong><br>
      </p>
    </div>
  </section>
  <section id="about-me">
    <h2>Who I am</h2>
    <div class="line" style="background-color: red;"></div>
    <article id="who">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsum has been the
        industry's standard dummy  text ever since the 1500s, when an unknown printer took a galley  of type and
        scrambled</p>
    </article>
    <center>
      <article id="fullstack">
        <h3>Developer</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsum has been the
          industry's standard dummy  text ever since the 1500s, when an unknown printer took a galley  of type and
          scrambled</p>
      </article>
    </center>
  </section>
  <section id="project-tile">
    <h2 style="color: aliceblue;">Project</h2>
    <div class="line" style="background-color: red;"></div>
    <section class="project-rows">
      <div class="project-cels">
        <a target="_blank" href=""><img src="../static/image/VOeIEPt copy.png" alt="hello">
        </a>
      </div>
      <div class="project-cels">
        <a target="_blank" href=""><img src="../static/image/uhly32C.png" alt="">
        </a>
      </div>
    </section>
  </section>
  <!-- footer-->


  <footer>
    <div class="footer-waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <audio src="../static/image/videoplayback (1).mp4" controls autoplay loop></audio>
    <ul class="footer-links">
      <li>
        <a class="footer-link" style="position: relative; left:110px ;" href="/">Home</a>
      </li>
      <li>
        <a class="footer-link" style="position: relative; left:70px ;" href="/contact">Contact</a>
      </li>
      <li>
        <a class="footer-link" style="position: relative; left:50px ;" href="/about">About</a>
      </li>
      <li>
        <a class="footer-link" style="position: relative; left:25px ;" href="/index">Index</a>
      </li>
      <li>
        <a class="footer-link" href="/appone/">App-one-Home</a>
      </li>
    </ul>
  </footer>
</body>

</html>