<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../static/image/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/stylescopy.css">
    <link rel="stylesheet" href="../static/css/footercopy.css">
    <link rel="stylesheet" href="../static/js/index.js">
    <title>home</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-container container">
        <input type="checkbox" name="" id="" />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
        <ul class="menu-items">
          <a href="/"><img src="../static/image/mode1.jpg"
            style="width: 150px; height: 80px; position: relative; top: 20px;" alt=""></a>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
          <li>
            <a href="/index">Index</a>
          </li>
          <li>
            <a href="/appone/">App One Home</a>
          </li>
          <li>
            <a href="/appone/index">App One Index</a>
          </li>
          <li>
            <a href="/apptwo/">App two Home</a>
          </li>
          <li>
            <a href="/appthree/">App three Home</a>
          </li>
        </ul>
        <h1 id="nature" style="position: relative; right: 70px;">Nature</h1>
      </div>
    </nav>

    <!-- Header -->
    <header>
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Hello Every One</div>
          <div class="intro-heading">I Am Mern Full Stack Developer</div>
          <center>
            <a href="/"class="page-scroll btn btn-xl">My Name Is Adeema Amir</a>
          </center>
        </div>
      </div>
    </header>
    <!-- card -->
    <div class="container">
      <div class="card-container">
        <input type="radio" name="colors-btn" id="color-1" checked />
        <input type="radio" name="colors-btn" id="color-2" />
        <input type="radio" name="colors-btn" id="color-3" />
        <div class="watch-area">
          <div class="logo-div">
            <img src="" alt="" />
          </div>
          <div class="floating-div">
            <div class="watch-1">
              <img src="https://iili.io/HMsKiU7.png" alt="samsung Yellow Green " />
            </div>
            <div class="watch-2">
              <img src="https://iili.io/HMsfofp.png" width="" height="" alt="samsung pink" />
            </div>
            <div class="watch-3">
              <img src="https://iili.io/HMsfPLv.png" width="" height="" alt="samsung black" />
            </div>
          </div>
        </div>
        <div class="text-area">
          <div class="heading-area">
            <h2>Samsung watch</h2>
            <h4>Combine smart and beauty</h4>
          </div>

          <p class="paragraph-area">Monitor your health around the clock even at night. Achieve your wellness goal by measuring body composition with Samsung BioActive sensor.</p>

          <div class="color-selection">
            <div class="h5-text">
              <h5>Available Colors:</h5>
            </div>

            <div class="color-pick-div">
              <label for="color-1" class="colors color-1"></label>
              <label for="color-2" class="colors color-2"></label>
              <label for="color-3" class="colors color-3"></label>
            </div>
          </div>
          <div class="price-and-buy-btn">
            <h2 class="price-1">279,-</h2>
            <h2 class="price-2">279,-</h2>
            <h2 class="price-3">279,-</h2>
            <button class="buy-btn">BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
    <br /><br />

    <!-- slider -->

    <ul class="slides">
      <input type="radio" name="radio-btn" id="img-1" checked />
      <li class="slide-container">
        <div class="slide">
          <img src="https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80" />
        </div>
        <div class="nav">
          <label for="img-6" class="prev">&#x2039;</label>
          <label for="img-2" class="next">&#x203a;</label>
        </div>
      </li>

      <input type="radio" name="radio-btn" id="img-2" />
      <li class="slide-container">
        <div class="slide">
          <img src="https://images.unsplash.com/photo-1465146344425-f00d5f5c8f07?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80" />
        </div>
        <div class="nav">
          <label for="img-1" class="prev">&#x2039;</label>
          <label for="img-3" class="next">&#x203a;</label>
        </div>
      </li>

      <input type="radio" name="radio-btn" id="img-3" />
      <li class="slide-container">
        <div class="slide">
          <img src="https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" />
        </div>
        <div class="nav">
          <label for="img-2" class="prev">&#x2039;</label>
          <label for="img-4" class="next">&#x203a;</label>
        </div>
      </li>

      <input type="radio" name="radio-btn" id="img-4" />
      <li class="slide-container">
        <div class="slide">
          <img src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80" />
        </div>
        <div class="nav">
          <label for="img-3" class="prev">&#x2039;</label>
          <label for="img-5" class="next">&#x203a;</label>
        </div>
      </li>

      <input type="radio" name="radio-btn" id="img-5" />
      <li class="slide-container">
        <div class="slide">
          <img src="https://images.unsplash.com/photo-1470252649378-9c29740c9fa8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" />
        </div>
        <div class="nav">
          <label for="img-4" class="prev">&#x2039;</label>
          <label for="img-6" class="next">&#x203a;</label>
        </div>
      </li>

      <input type="radio" name="radio-btn" id="img-6" />
      <li class="slide-container">
        <div class="slide">
          <img src="https://images.unsplash.com/photo-1431794062232-2a99a5431c6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" />
        </div>
        <div class="nav">
          <label for="img-5" class="prev">&#x2039;</label>
          <label for="img-1" class="next">&#x203a;</label>
        </div>
      </li>

      <li class="nav-dots">
        <label for="img-1" class="nav-dot" id="img-dot-1"></label>
        <label for="img-2" class="nav-dot" id="img-dot-2"></label>
        <label for="img-3" class="nav-dot" id="img-dot-3"></label>
        <label for="img-4" class="nav-dot" id="img-dot-4"></label>
        <label for="img-5" class="nav-dot" id="img-dot-5"></label>
        <label for="img-6" class="nav-dot" id="img-dot-6"></label>
      </li>
    </ul>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <footer>
      <div class="footer-waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
      </div>
      <audio src="../static/image/videoplayback (1).mp4" controls autoplay loop></audio>
      <ul class="footer-links">
        <li>
          <a class="footer-link" style="position: relative; left:110px ;" href="/">Home</a>
        </li>
        <li>
          <a class="footer-link" style="position: relative; left:70px ;" href="/contact">Contact</a>
        </li>
        <li>
          <a class="footer-link" style="position: relative; left:50px ;" href="/about">About</a>
        </li>
        <li>
          <a class="footer-link" style="position: relative; left:25px ;" href="/index">Index</a>
        </li>
        <li>
          <a class="footer-link" href="/appone/">App-one-Home</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
