<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/doc.scss">
    <title>index</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
          <input type="checkbox" name="" id="" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
          <ul class="menu-items">
            <a href="/indexcopy"><img src="../static/image/mode1.jpg"
              style="width: 150px; height: 80px; position: relative; top: 20px;" alt=""></a>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
            <li>
              <a href="/index">Index</a>
            </li>
            <li>
              <a href="/appone/">App One Home</a>
            </li>
            <li>
              <a href="/appone/index">App One Index</a>
            </li>
            <li>
              <a href="/apptwo/">App two Home</a>
            </li>
            <li>
              <a href="/appthree/">App three Home</a>
            </li>
          </ul>
          <h1 id="nature" style="position: relative; right: 70px;">Nature</h1>
        </div>
      </nav>
    <br><br><br><br><br><br><br>
    
    <div class="container" style="display: flex;">
        <img id="container_image_1" src="https://images.unsplash.com/photo-1677014566804-2f79be6e60e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=623&q=80"  alt="">
        <img id="container_image_2" src="https://images.unsplash.com/photo-1677208538725-b79e48694eec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"  alt="">
        <img id="container_image_3" src="https://images.unsplash.com/photo-1676899476979-79abbcdd1797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"  alt="">
        <img id="container_image_4" src="https://images.unsplash.com/photo-1677177947814-03e7768d4e9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"  alt="">
        <img id="container_image_5" src="https://images.unsplash.com/photo-1677098320096-6c6630851c07?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80"  alt="">
        <img id="container_image_6" src="https://images.unsplash.com/photo-1677309017319-8e4aa666f6f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1141&q=80" alt="">

    </div>

    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
 
    <footer>
        <div class="footer-waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
        <audio src="../static/image/videoplayback (1).mp4" controls autoplay loop></audio>
        <ul class="footer-links">
          <li>
            <a class="footer-link" style="position: relative; left:110px ;" href="/">Home</a>
          </li>
          <li>
            <a class="footer-link" style="position: relative; left:70px ;" href="/contact">Contact</a>
          </li>
          <li>
            <a class="footer-link" style="position: relative; left:50px ;" href="/about">About</a>
          </li>
          <li>
            <a class="footer-link" style="position: relative; left:25px ;" href="/index">Index</a>
          </li>
          <li>
            <a class="footer-link" href="/appone/">App-one-Home</a>
          </li>
        </ul>
      </footer>
    <script src="../static/js/index.js"></script>
</body>
</html>